{% extends 'base.html'%}

{% block title%}
Students
{% endblock%}

{% block content%}
<h1>Student Page</h1>
<a href="{% url 'addstudent'%}">Add Student</a>
<form action="{% url 'search' %}">
		<input type="text" name="search" placeholder="Enter name">
		<input type="submit" value="search">
	</form>
<table border="2">

	{% if data%}
		<tr>
			<th>rno</th>
			<th>Name</th>
			<th>Dept</th>
			<th>Delete</th>
		</tr>
		{% for d in data%}
		<tr>
			<td>{{d.rno}}</td>
			<td>{{d.name}}</td>
			<td>{{d.dept}}</td>
			<td><a href="{% url 'deleteStudent' id=d.rno %}" onclick="return confirm('Are u sure')">Delete</a></td>
		</tr>
		{% endfor%}
	{% else %}
	<tr>
		<td>No Data Found</td>
	</tr>
	{% endif %}
</table>
{% endblock%}